<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @delivery.name %>
</p>

<p>
  <b>Website:</b>
  <%= @delivery.website %>
</p>

<p>
  <b>Extra:</b>
  <%= @delivery.extra1 %>
</p>
<p>
  <b>Extra:</b>
  <%= @delivery.extra2 %>
</p>
<p>
  <b>Extra:</b>
  <%= @delivery.extra3 %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
