<script type=”text/javascript”>
bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>

<div class = 'window window-vpadding'>
<script type="text/javascript">
       bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :linkname %><br />
    <%= f.text_field :linkname %>
  </div>
  <div class="field table-text-area">
    <%= f.label :content %><br />
    <%= f.text_area :content%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>